@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.patientSearchResult,
.deceased.patientSearchResult {
  color: unset !important;
  margin: unset !important;
  text-decoration: none;
  display: flex;
  align-items: center;
  border: none;
  border-bottom: 1px solid $ui-03;
  padding: 0 layout.$spacing-05;

  &:hover,
  &:focus {
    background-color: $ui-01;
    border: 0;
    outline: 0;
  }
}

:global(.omrs-breakpoint-lt-desktop) {
  .patientSearchResult,
  .deceased.patientSearchResult {
    padding: 0 layout.$spacing-03;
  }
}

.patientSearchResultButton {
  background: none;
  cursor: pointer;
  width: 100%;
}

.patientBanner {
  display: flex;
}

.patientName {
  @include type.type-style('heading-02');
  color: $text-02;
  margin-right: layout.$spacing-02;
}

:global(.omrs-breakpoint-lt-desktop) {
  .patientName {
    @include type.type-style('heading-compact-01');
    margin-bottom: layout.$spacing-02;
  }
}

.patientAvatar {
  width: layout.$spacing-09;
  height: layout.$spacing-09;
  margin: layout.$spacing-03 layout.$spacing-05 layout.$spacing-03 0;
  border-radius: 1px;
  font-weight: unset;
  line-height: unset;
  flex-shrink: 0;
}

:global(.omrs-breakpoint-lt-desktop) {
  .patientAvatar {
    width: layout.$spacing-07;
    height: layout.$spacing-07;
    margin: layout.$spacing-03 layout.$spacing-03 layout.$spacing-03 0;
  }
}

.patientInfo {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  margin: layout.$spacing-05;
  cursor: pointer;
}

:global(.omrs-breakpoint-lt-desktop) {
  .patientInfo {
    margin: layout.$spacing-03;
  }
}

.demographics {
  display: flex;
  align-items: center;
  margin-top: layout.$spacing-02;
  @include type.type-style('body-compact-01');
  color: $text-02;
  flex-wrap: wrap;
}

:global(.omrs-breakpoint-lt-tablet) {
  .demographics {
    @include type.type-style('label-01');
    flex-direction: column;
    align-items: flex-start;
    gap: layout.$spacing-02;
  }
}

.identifier {
  margin: 0 layout.$spacing-03;
}

:global(.omrs-breakpoint-lt-tablet) {
  .identifier {
    margin: 0 layout.$spacing-02;
  }
}

.identifiers {
  @include type.type-style('body-compact-02');
  color: $ui-04;
}

.actionsContainer {
  padding-top: layout.$spacing-03;
  margin-top: layout.$spacing-05;
}

.middot {
  margin: 0 layout.$spacing-02;
}

:global(.omrs-breakpoint-lt-tablet) {
  .middot {
    display: none;
  }
}

.configuredTag {
  margin: layout.$spacing-01 layout.$spacing-03;
}

:global(.omrs-breakpoint-lt-desktop) {
  .configuredTag {
    margin: layout.$spacing-01 layout.$spacing-02;
  }
}

.configuredLabel {
  @include type.type-style('label-01');
  color: $ui-05;
}

:global(.omrs-breakpoint-lt-tablet) {
  .configuredLabel {
    @include type.type-style('helper-text-01');
  }
}

.flexRow {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

:global(.omrs-breakpoint-lt-tablet) {
  .flexRow {
    flex-direction: column;
    align-items: flex-start;
  }
}

.skeletonIcon {
  height: layout.$spacing-09;
  width: layout.$spacing-09;
}

:global(.omrs-breakpoint-lt-desktop) {
  .skeletonIcon {
    height: layout.$spacing-07;
    width: layout.$spacing-07;
  }
}